body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	/*color: #666666;*/
	color: white;
	overflow-x: hidden !important;
	-webkit-font-smoothing: antialiased;
}

a {
	color: #cccccc;
	text-decoration: none;
}

a:hover, a:focus, .btn:focus {
    text-decoration: none;
	outline: none;
	color: #6c6b6b
}

input:focus, textarea:focus {
	outline: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	text-transform:capitalize;
	letter-spacing: 1px;
}

h1 {
    font-size: 72px;
    line-height: 82px;
}

h2 {
    font-size: 48px;
    line-height: 60px;
}

h3 {
    font-size: 32px;
    line-height: 45px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
}

h5 {
    font-size: 18px;
	line-height: 25px;
}

img {
	max-width: 100%;
	height: auto;
}

ul, ol {
	padding-left: 0 !important;
}

li {
	list-style: none;
}

/* --------------- Common Classes --------------- */
.center {
	text-align: center;
}

.left {
	text-align: left;
}

.justify {
	text-align: justify;
}

.strong {
font-weight: 700;
}

.floatright {
	float:right;
}

.floatleft {
	float:left;
}

.floatnone {
	float:none;
}

.fixed {
	position:fixed;
}

.absolute {
	position:absolute;
}

.relative {
	position:relative;
}

.container {
	position:relative;
	z-index: 10;
}

.section-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
}

.animated {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.section-title {
	margin-bottom: 48px;
}

.section-title h3, .section-title h4 {
	color: #F4F4F4;
	border-top: 1px solid;
	border-bottom: 1px solid;
	display: inline-block;
	margin-top: 0;
	padding: 8px 0;
	
}

.section-overlay {
	background: rgba(0, 0, 0, .7) !important;
	z-index: 5;
}



/* --------------- Pre Loader Styles --------------- */
#preloader {
	position:fixed;
	top: 0;
	left: 0;
	background-color:#FFF;
	width: 100%;
	height: 100%;
	z-index: 10050;
}

.loading-circle {
	position: absolute;
	left: 49%;
	top: 49%;
	height: 48px;
	width: 48px;
	border-radius: 50%;
	border-top: 2px solid #7F8C8D;
	border-right: 2px solid rgba(0,0,0, 0);
	border-bottom: 2px solid #7F8C8D;
	border-left: 2px solid rgba(0,0,0, 0);
}

/* =============== HTML element styles =============== */
/* --------------- Button Styles --------------- */
.button-line {
	background: transparent;
	display: inline-block;
	font-weight: 400;
	border-radius: 4px;
	border: 1px solid;
	margin: 10px;
	overflow: visible;
}

.no-text .icon {
	margin: 0;
}

.btn .icon {
	margin-left: 13px;
}

.button-white {
	border-color: #fff;
	color: #fff;
}

.button-white:hover {
	border-color: #fff;
	color: #fff;
}



/* ================ Header Section ================ */

.header-section {
	position:relative;
}

/* --------------- Main Navigation Styles --------------- */
.sticky-bar-wrap {
	position:fixed;
	width: 100%;
	z-index: 1025;
}

.sticky-section {
	width: 100%;
	height: 80px;
	z-index: 1025;
	transition: all .3s ease-in;
	background: rgba(0,0,0, .15);
}

.nav-bg {
	background: rgba(0,0,0, .6);
}

.site-name {
	color: #fff;
	font-family: 'Bangers', cursive;
	font-size: 24px;
	padding: 8px 15px;
	letter-spacing: 1px;
}

.site-name span {
	color: #fff;
	padding: 0 13px;
	font-weight: 400;
	height: 35px;
	width: 35px;
	display: inline-block;
	margin-right: 3px;
	font-size: 28px;
	line-height: 35px;
}

.nav-hold {
	left: 0;
	right: 0;
	top: 0;
	padding-top: 13px;
	z-index: 1025;
}

ul.nav > li > a {
	color:#fff;
	font-size: 16px;
	font-weight: 400;
}

ul.nav > li > a:hover, ul.nav > li > a:focus {
	background: none !important;
}

li.current a,
ul.nav > li > a:hover {
color:#ccc !important;
}

.navbar-toggle .icon-bar {
	background: #ffffff;
}


/* --------------- Home section --------------- */


.section-home {
	position:relative;
}

.home {
	min-height: 750px;
}

.well-come {
	position:relative;
	font-size: 50px;
	line-height: 62px;
	margin-top: 160px;
	margin-bottom: 50px;
	color:#fff !important;
	font-weight: 700;
	text-transform:uppercase;
}

.well-come:after {
position: absolute;
content: "";
width: 400px;
height: 1px;
background-color: #FFF;
bottom: -16px;
left: calc(50% - 200px);
}

.intro-message {
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 50px;
	color: #fff;
}

/* ================ Home Section ================ */
#section-home {
	background: rgba(0, 0, 0, .7) !important;
	background-size: cover;
	height: 500px;
}

/* ================ Events Section ================ */
#section-events {
	background: rgba(0, 0, 0, .7) !important;
	background-size: cover;
	height: 700px;
}

.spaceBetweenSect{
	background: rgba(0, 0, 0, .7) !important;
	background-size: cover;
	height: 200px;
}

/* ================ Team Section ================ */
#section-aboutus {
	background: rgba(0, 0, 0, .7) !important;
	/*background: url("../images/1.jpg") no-repeat center center;*/
	/*background-size: cover;*/
	/*background-position: center;*/
	/*background-attachment: fixed;*/
	/*height: 1350px;*/
	background-size: cover;
	height: 550px;
}

@media(max-width: 992px) {
	#section-home {
		background: rgba(0, 0, 0, .7) !important;
		background-size: cover;
		height: 600px;
	}

	#section-aboutus {
		background: rgba(0, 0, 0, .7) !important;
		background-size: cover;
		height: 1350px;
	}
}

/* ================ Location Section ================ */
#section-location {
	background: rgba(0, 0, 0, .7) !important;
	background-size: cover;
}

/* ================ Footer Section ================ */
#section-footer {
	background: rgba(0, 0, 0, .7) !important;
	background-size: cover;
}

.footer-title {
	display: inline-block;
	margin-bottom: 20px;
	text-transform: none;
}

.social-icons ul li {
	display: inline-block;
}

.social-icons ul li a{
	margin-left: 10px;
	font-size: 28px;
	color: #9D9D9D;
	font-weight: normal;
	text-shadow: none;

	-webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
}

.footer-content ul li span{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: white;
}

.copyright {
	padding-top: 15px;
}


.lightbox-image-link{
	background-color: #fff;
	border-radius: 4px;
	display: inline-block;
	line-height: 0;
	margin: 0 0.5rem 1rem;
	padding: 2px;
	transition: background-color 0.5s ease-out 0s;
}

.lightbox-image-link:hover{
	background-color: #00CCFF;
}

.lightbox-image{
	border-radius: 4px;
	/*width: 7rem;*/
}




/*==========================from cyprass[START]==========================*/
.feature-tab {
	margin-top: 30px;
}

.single-tab{

}

/*main tab
=======================*/
.main-tab-content{
}
.main-tab-content .c-tab{
	margin-top: 20px;
}
.main-tab-content .c-tab a{
	color: #EE3B24;
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 1px solid#EE3B24;
	padding-top: 7px;
}
.feature-tab{
	margin-top: 40px;
}
.main-tab-list li{
	padding: 10px 0px 10px;
	border: 1px solid#eee;
	width: 150px;
	/*background: #FBFBFB;*/
	float: none;
	margin-bottom: 5px;
	border-radius: 5px;
}
.main-tab-list li a{
	padding: 0px;
}
.single-tab{

}
.f-icon{
	/*padding-top: 16px;*/
}
.f-icon i{
	font-size: 20px;
	color: #222;
	line-height: 50px;
	border: 1px solid#ccc;
	width: 50px;
	height: 50px;
	background: #FAFAFA;
	margin: 20px auto 10px;
	/*background: #fff;*/
}
.main-tab-list li a h4{
	text-transform: uppercase;
	font-size: 14px;
}

.nav-tabs li.active{
	background: transparent;
}

.main-tab-list li.active .f-icon i{
	color: #E93B25!important;
	-webkit-transition: all .3s linear 0s;
	-o-transition: all .3s linear 0s;
	transition: all .3s linear 0s;
}
.main-tab-list li.active a h4 {
	color: #fff;
	font-size: 14px;
}
.main-tab-list > li.active {
	background: #EE3B24!important;
	position: relative;
}
.main-tab-list > li.active:after{
	content: "";
	position: absolute;
	width: 30px;
	height: 30px;
	/*background: #fff!important;*/
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	right: -24px;
	top: 28px;
}
.main-tab-list > li> a, .main-tab-list > li.active > a, .main-tab-list > li.active > a:hover, .main-tab-list > li.active > a:focus {
	background: transparent;
	padding: 0px;
}
/*==========================from cyprass[END]==========================*/
